.navbar {
    background-color: var(--baby-powder) !important;
}

.link {
    letter-spacing: 0.07rem;
    padding-left: 15px !important;
    padding-right: 0 !important;
}

.logo {
    letter-spacing: 0.07rem;
    font-size: 1rem !important;
}

.navbarToggler {
    border-color: transparent !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbarToggler:focus {
    box-shadow: none;
}

.responsiveNavbar {
    justify-content: flex-end !important;
}
